:root {
    --bs-tertiary-bg: #f9e1c9;
    --bs-tertiary-bg-rgb: 249,225,201;
}


body {
    background-color: #ffffff;
    background-attachment: fixed;
    color: #0f0f0e;
    font-family: 'Crimson Text', serif;
}

.container {
    max-width: 100%;
    margin: auto;
    padding: 5px;
    text-align: center;
}

/*Connexion*/
a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #f9e1c9;
}

.button:hover {
    background-color: #f9e1c9;
}

img {
    max-width: 100%;
}


body > .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

/*NAVBAR*/

.secondnav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}
li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

li a:hover {
   color: #f9e1c9;

}
/*FIN NAVBAR*/

.prestation {
    padding: 20px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
}

.prestation h2 {
    font-size: 24px;
    color: #333;
}

.prestation p {
    color: #666;
    font-size: large;
}

.prestation-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;

}

.prestation-price {
    font-size: large;
    color: #f9c2ae;
}

.prestation-interest {
    display: flex;
    align-items: center;
    font-size: large;
    color: #333;
}

.prestation-interest i {
    margin-left: 5px;
    color: #f9c2ae;
}

h3 {
    font-family: 'Italianno', cursive;
    font-weight: normal;
    font-size: 50px;
}

h1 {
    font-family: 'Italianno', cursive;
    font-weight: normal;
    font-size: 50px;
}


label {
    display: block;
}

input,
textarea,
select {
    margin-bottom: 1rem;
    box-sizing: border-box;
    width: 50%;
    min-width: 150px;
}

.img_acc {
    max-width: 100%;
    min-width: 150px;
}

.img-apropos {
    width: 30%; /* Ajustez la largeur de l'image selon vos besoins */
    max-width: 200px; /* Ajustez la largeur maximale selon vos besoins */
    display: block;
    margin-right: 20px;
    float: left;
}


.social-icons {
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    font-size: large;
    margin-top: auto;
}

.social-icons i {
    margin-right: 20px;
    color:#f9c2ae;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}


.form-contact{
    margin-top: 2.5%;
    background-color: #f9f9f9;
    margin-right: 30%;
    margin-left: 30%;
}

.footer-container .contact-info{
    color: #f9c2ae;
}


.my-carousel-image {
    display: flex;
    width: 80%;
    height: 550px;
    margin-left: 10%; /* 100% - 70% / 2 = 15% */
    margin-right: 10%; /* 100% - 70% / 2 = 15% */
    justify-content: center;
    object-fit: cover;
}

@media (max-width: 768px) {
    .my-carousel-image {
        /* Styles spécifiques pour les écrans de largeur inférieure à 768px */
    }
}

.p-accueil{
    margin-left: 15%;
    margin-right: 15%;
    font-size: x-large;
    color: #333333;
    line-height: 1.5;
    animation: fade-in 1s ease-in-out;
}
@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
/*FIN DE PAGE A PROPOS (VIDEO + TEXTE)*/
.end-container{
    display: flex;
    align-items: center;
    justify-content: stretch;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
}
.list-group{
    text-align: start;
}
.title2{
    text-align: center;
    font-size: 150%;
}

.text-end{
    flex: 1;
    font-size: 110%;
    text-align: center;
    padding-bottom: 2%;
}
.text-end ul{
    list-style-type: none;
}
.video{
    flex: 1;
}
@media (max-width: 768px) {
    .video {
        display: none; /* Masquer la vidéo */
    }
    .title2{
        font-size: x-large;
    }

    .image-section{
        display: none;
    }
}

/*DEBUT DE PAGE A PROPOS */
.book-container {
    margin: 0 auto;
    text-align: center;
    align-items: center;
    width: 100%;
    background-color: #fdf5e8;
    display: flex;
    justify-content: center;
    border-bottom: 10px solid #f9e1c9 ;
    border-top: 10px solid #f9e1c9;
    margin-bottom: -10px;

}
@media (max-width: 768px) {
    .book-container {
        flex-direction: column;
        margin: 0;
        padding: 20px;
    }
}

@media (max-width: 480px) {
    .book-container {
        padding: 10px;
    }
}
 .title {
     font-size: 30px;
     margin-bottom: 20px;
     text-align: center; /* Ajoutez cette ligne pour centrer le titre */
 }
@media (max-width: 768px) {
    .title {
        font-size: 25px; /* Taille de police plus petite pour les petits écrans */
        margin-bottom: 10px; /* Marge inférieure réduite pour les petits écrans */
        text-align: center; /* Centrage du titre pour les petits écrans */
        font-weight: bold;
    }
}


.text-section {
    max-width: 30%;
    padding-left: 1%;
    padding-right: 1%;
    background-color: #fdf5e8;
    font-size: 20px;
}
.text-section .list-group-item{
    background-color: #fdf5e8;
}

.image-section {
    align-self: stretch;
    padding-left: 20px;
    background-color: #fdf5e8;
    max-width: 70%;
}

h4{
    margin-bottom: 0;
}
.text-section2 ul{
    list-style-type: none;
}

.divider {
    border-top: 2px solid #ff7f9c;
    margin-right: 20px;
    width: 50px;
}

.container_a {
    max-width: 960px;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    padding: 0 20px;
    text-align: center;
    display: flex;
    align-items: center;
}
.img-apropos {
    width: 35%;
    max-width: 300px;
    display: block;
    margin-right: 20px;
    float: right;
    margin-bottom: 10px;
    margin-left: 20px; /* Ajoutez cette ligne pour décaler l'image */
}

.text-container {
    width: 100%;
}

/*PARTIE TEMOIGNAGE*/

.intro-t {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 1%;
}

.intro-t img {
    float: left;
    width: 30%;
    margin-right: 30px;
}
.intro-tt{
    font-size: 20px;
}

/*1er MARIAGE*/

.mariage1 {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre le contenu horizontalement */
    text-align: center; /* Centre le contenu du texte */
    background-color: #f7ebd9;
    margin-top: 2%;

}

.imgNina{
    flex: 1;
    padding: 4%;
}


.tPhoto{
    display: flex;
    padding-left: 25%;
    padding-right: 25%;
    align-items: center;

}

.tNina{
    flex: 1;
    padding: 4%;
    font-size: larger;
    text-align: justify;
}

/*MARIAGE 2*/
.mariage2 {
    display: flex;
    flex-direction: row; /* Inverse la direction des éléments */
    font-size: larger;
    margin-top: 1%;
    margin: 10%;
    width: 50%;
}

.mariage2 img{
    margin-bottom: 2%;
}

.m1 {
    flex: 1;
    margin-right: 5%;
    background-color: #f7f5f3;
}

.m2 {
    flex: 1;
    margin-left: 5%;
    background-color: #f7f5f3;
}

.form-t{
    padding-right: 30%;
    padding-left: 30%;
}

.folder-link {
    position: relative;
    display: inline-block;
}

.folder-link::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #fff;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 9999;
}

.folder-link:hover::after {
    height: 100%;
    opacity: 1;
}

/* CSS pour la galerie */
.thumbnail-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.thumbnail-gallery .thumbnail {
    width: 250px;
    height: 250px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    overflow: hidden;
}

/*TEMOIGNAGE*/

.row {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

.temoignage-card {
    border: 2px solid #cab776; /* Couleur bleue (vous pouvez ajuster la couleur selon vos préférences) */
    padding: 10px; /* Ajoutez un peu de marge intérieure pour espacer le contenu de la carte */
    border-radius: 10px; /* Ajoutez des coins arrondis pour une apparence plus agréable */
    margin: 10px;
}

/*ADMIN*/

.status-rejected td {
background-color: #fd6e61 !important;
}
.status-validated td {
    background-color: #d3fdb7 !important;
}