{% extends 'base.html.twig' %}

{% block title %}A Propos{% endblock %}

{% block body %}
    <div class="container_a">
        <img class="img-apropos" src="{{ asset('img/posters/profil.jpg') }}">
        <div class="text-container">
            <h2 class="titlei">Introduction</h2>
            <p class="p1">Je suis Elodie, créatrice de La lumière du bonheur, depuis 2020. Je suis une ancienne animatrice, auxiliaire de vie. J’ai côtoyé des enfants, des personnes âgées, des adolescents atteint d’autisme et j’ai beaucoup appris à leurs côtés. Un autre chemin m’attendait depuis longtemps et m’a mené vers One days like thèse et l’EFCDE qui m’ont appris le beau et honorable métier de Wedding planner. C’est là où mon histoire avec vous débute.</p>
            <p class="p1">J’ai toujours su. J’ai su dans leurs sourires, leurs regards pétillants, ce bonheur qui les habitent, que c’est ce que je voulais apporter aux personnes qui me confieraient leurs projets. Je suis également très à l’aise avec les mots et je me ferais un plaisir d’aider les futurs mariés qui ne savent pas par où commencé.</p>
        </div>
    </div>

    <hr class="divider">
    <div class="page">
        <div class="book-container">
            <div class="text-section">
                <h2 class="title">Mon rôle dans l'organisation et la coordination du jour-j comprend :</h2>
                <ul class="checklist">
                    <li>
                        Les rendez-vous mensuels
                    </li>
                    <li>
                        La recherche des prestataires
                    </li>
                    <li>
                        Les rendez-vous avec les prestataires
                    </li>
                    <li>
                        Les rendez-vous visite et technique du lieu
                    </li>
                    <li>
                        Le suivi Budget
                    </li>
                    <li>
                        La négociation
                    </li>
                    <li>
                        La gestion des tâches et des imprévus
                    </li>
                    <li>
                        L’organisation en amont du jour-j
                    </li>
                    <li>
                        Le filage du jour-j
                    </li>
                    <li>
                        La coordination et la gestion des prestataires sur place jusqu’au service du dessert
                    </li>
                </ul>
            </div>
            <div class="image-section">
                <img class="image-section" src="{{ asset('img/posters/profil2..jpg') }}">
            </div>
        </div>
    </div>

    <div class="book-container">
        <div class="image-section ">
            <img class="image-section" src="{{ asset('img/posters/profil3.jpg') }}">
        </div>
        <div class="text-section">

            <h2 class="title">L’agence travaille avec trois points essentiels et importants :</h2>
            <h4>La bienveillance:</h4>
            <p>La réussite d’un évènement passe aussi par le bien-être des clients, leurs ressentis est très important pour nous et c’est pourquoi nous proposons un service de qualité, à l’écoute et sommes transparents avec nos clients.</p>

            <h4>Le souci du détail:</h4>
            <p>C’est l’un de notre trait de caractère. Les petits comme les grands détails sont importants, aucun ne doit être négligé. Chaque évènement est traité avec attention et minutie. Nous adaptons notre vision à la vôtre avec notre expérience.</p>

            <h4>La confiance:</h4>
            <p>La confiance est notre moteur. Vous nous partagez un bout de votre histoire et de votre vie, nous nous devons d’être présent et bienveillant. Nous sommes comme un chef d’orchestre qui guide chaque instrument pour la mélodie parfaite.</p>

        </div>
    </div>

    <div class="end-container">
        <div class="video">
            <iframe class="youtube" width="560" height="315" src="https://www.youtube.com/embed/5nfE9OQRDuA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="text-end">
            <h2 class="title2">Pourquoi avoir La lumière du bonheur à vos côtés :</h2>
            <ul class="checklist1">
                <li>
                    Un gain de temps considérable sur vos emplois du temps.
                </li>
                <li>
                    Eliminer le stress des préparatifs.
                </li>
                <li>
                    Être entouré de prestataires fiables et compétents.
                </li>
                <li>
                    Avoir des tarifs justes et éviter les devis gonflés.
                </li>
                <li>
                    Profiter de vos invités et de votre évènement à 200 % sans avoir un millier de choses en tête.
                </li>
                <li>
                    Bénéficier de l’expérience et des conseils d’une professionnelle.
                </li>
                <li>
                    Inspirations & Idées
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
