{% extends 'base.html.twig' %}

{% block title %}GALERIES{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {% for mariage in mariages %}
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="{{ asset(photosByMariage[mariage.id][0].cheminImg) }}" alt="{{ photosByMariage[mariage.id][0].nom }}">
                        <div class="caption">
                            <h4>{{ mariage.nom }}</h4>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
