{% extends 'base.html.twig' %}

{% block title %}GALERIES{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('img/posters/') }}">
<div class="container">
    <div class="row">
        {% for mariage in mariages %}
        <div class="col-md-4">
            <div class="caption">
                <h4>{{ mariage.nom }}</h4>
            </div>
            <div class="thumbnail-gallery">
                {% for photo in mariage.photos %}
                    <div class="thumbnail" style="background-image: url('{{ asset('img/posters/' ~ photo.nom) }}')"></div>
                {% endfor %}
            </div>
        </div>
{% endblock %}

{% block body %}